<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d460ab">  <td>20/09/21 19:04:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoadTest01.beforeClass()[pri:0, instance:com.seleniumproj.LoadTest01@184f6be2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2011986105</td>   <td></td> </tr>
<tr bgcolor="d460ab">  <td>20/09/21 19:04:32</td>   <td>155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoadTest01.loginTest()[pri:0, instance:com.seleniumproj.LoadTest01@184f6be2]">loginTest</td> 
  <td>main@2011986105</td>   <td></td> </tr>
<tr bgcolor="d460ab">  <td>20/09/21 19:04:32</td>   <td>161</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoadTest01.afterClass()[pri:0, instance:com.seleniumproj.LoadTest01@184f6be2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
